

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background-color:  #FDFDFD;;
}

/* --- Hero Section --- */
.faq-page {
    max-width: 700px;
    margin: 60px auto;
    position: relative;
}

.back-btn {
    position: absolute;
    left: -320px;
    top: -30px;
    background: none;
    border: none;
    font-size: 32px;
    color: #888888;
    cursor: pointer;
}

.hero {
    text-align: center;
    margin-bottom: 50px;
}

.hero h1, .hero h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 64px;
    margin: 0;
    line-height: 1.1;
    font-weight: 400;
    color: #1A1A1A;
}

.highlight {
    color: #E74C3C;
    font-style: italic;
}

.hero p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #000000;
    margin-top: 16px;
    white-space: nowrap;
}


.accordion-container {
    max-height: 450px;
    overflow-y: auto;
    padding-right: 10px;
}

/* Custom Scrollbar for the container */
.accordion-container::-webkit-scrollbar {
    width: 6px;
}
.accordion-container::-webkit-scrollbar-thumb {
    background-color: #EFE2E2;
    border-radius: 10px;
}


.accordion-item {
    box-sizing: border-box;
    border: 1px solid #F5A0A0 ;
    border-radius: 15px;
    background: #FFFFFF;
    margin-bottom: 28px;
    height: 68px;        
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;
    width: 670px;

}

.accordion-item.active {
    height: auto; 
    min-height: 174px;  
}

.accordion-header {
    height: 68px;
    padding: 0 25px;
    display: flex;
    align-items: center; 
    cursor: pointer;
    position: relative;
}

.accordion-header span {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.01em;
}


.icon-circle {
    width: 28px;        
    border-radius: 100%;
    background: #FDF8F8;
    border: 0.5px solid #F0DADA;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5A0A0;
    transition: 0.3s;
    position: absolute;
    right: 0px;
    top:5px;           
}

.icon-circle i {
    font-size: 14px;
}

.accordion-item.active .icon-circle {
    background: #E74C3C;
    color: #FFFFFF;
    transform: rotate(45deg); 
    border: none;
    top: 12px;                
}

.accordion-content {
    padding: 0 25px 25px 25px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.accordion-content p {
    color: #888888;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    margin: 0;
}
